.cd-tile {
  padding: $unit;
  color: #fff;
  width: 100%;
  height: 150px;
  float: left;

  @media (min-width: 500px) {
    height:150px;
    width: calc(100%/2);
  }

  @media (min-width: 800px) {
    height:150px;
    width: calc(100%/3);
  }
}

.cd-tile__container {
  padding: $unit;
  background: #000;
  box-shadow: $shadow-1;
  cursor: pointer;
  transition: all .2s;
  height: 100%;

  &:hover {
    box-shadow: $shadow-2;
  }
}

.cd-tile__header {
  font-size: 24px;
  margin-bottom: $unit*2;
}

.cd-tile__description {
  font-size:14px;
  color: rgba(255,255,255,0.7);
}